body {
    padding: 10px 30px;
    background-color: #F7F7F7;
}

.allblocks {
    border: solid 2px grey;
    font-weight: bold;
}

.grid-header, .grid-footer {
    background-color: white;
    color: grey;
}

.blocks {
    color: blue;
    background-color: #DAEDF9;
}

.grid {
    display: grid;
    grid-template-rows: repeat(13, 1fr);
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-areas: "h h"
                         "b1 b2"
                         "b1 b2"
                         "b1 b3"
                         "b4 b3"
                         "b4 b3"
                         "b4 b5"
                         "b4 b5"
                         "b6 b5"
                         "b6 b7"
                         "b6 b7"
                         "f f"
                         "f f"
}

.grid-header {
    height: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: h;
}

.grid-block1 {
    grid-area: b1;
}

.grid-block2 {
    grid-area: b2;
}

.grid-block3 {
    grid-area: b3;
}

.grid-block4 {
    grid-area: b4;
}

.grid-block5 {
    grid-area: b5;
}

.grid-block6 {
    grid-area: b6;
}

.grid-block7 {
    grid-area: b7;
}

.grid-footer {
    height: 80px;
    margin-top: 10px;
    grid-area: f;
}

.grid > div {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

@media screen and (max-width: 640px) {
    .grid {
        display: grid;
        grid-template-rows: repeat(23, 1fr);
        grid-template-columns: 1fr;
        grid-template-areas: 
                            "h"
                            "b1"
                            "b1"
                            "b1"
                            "b2"
                            "b2"
                            "b3"
                            "b3"
                            "b3"
                            "b4"
                            "b4"
                            "b4"
                            "b4"
                            "b5"
                            "b5"
                            "b5"
                            "b6"
                            "b6"
                            "b6"
                            "b7"
                            "b7"
                            "f"
                            "f"
    }
}